* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
    padding: 20px;
}

/* Layout styling */
main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Sidebar styling */
.sidebar {
    flex: 1;
    background-color: #e2fdff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Info section styling */
.info {
    flex: 2;
    padding: 20px;
}

.activities {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 30%;
    background-color: #e2fdff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    background-color: #e2fdff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datepicker h1 {
    background-color: #086788;
    color: black;
    background-image: url('../images/coralb.jpg');
    padding: 60px;
    text-align: center;
    border-radius: 8px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .activities {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}
